.custom-title {
    color: #8e3b30;
}
 .footer-box {
    background-color: #8e3b30; 
    color:white;
    padding: 20px;
    border-radius: 8px;
  }

  .footer-box i {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .footer-box h5 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .footer-box p {
    font-size: 14px;
  }

  footer .text-center p {
    font-size: 16px;
    color: wheat;   
  }




